body{
	background-image: url('../my_images/my_bg.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
div.holder{
	position: absolute;
	left: 50px;
	top:170px;
	width: 770px;
    height: 550px;
	background-color: #eda65e;
	opacity: 0.8;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.17);
}
div.description{
	font-family: Maiandra GD Regular;
	font-size: 35px;
	color: #69320e;
	padding-top: 0.3cm;
	padding-left: 1cm;
	padding-right: 4cm;
	padding-bottom: 3cm;
}
figure.paw{
	float:right;
	margin: 11cm 18.8cm 1cm 11cm ;
}
figure.home{
	float: right;
	margin: -3.3cm -31.8cm 1cm 1cm;
}
.container {
  position: relative;
  width: 100px;
}

.image {
  display: block;
  width: 100px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
  border-radius: 5%;
}

.container:hover .overlay {
  width: 500px;
  left: 0;
}
p.sub{
	font-size: 15px;
}