body{
	background-image: url('../my_images/my_bg.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

div.holder2{
	position: absolute;
	left: 50px;
	top:170px;
	width: 1400px;
    height: 550px;
	background-color: #eda65e;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.17);
}
figure.home{
	float: left;
	margin: -3cm 1cm 1cm 37.4cm;
}
figure.forth{
	float: right;
	margin: 0cm 2cm 1cm 1cm;
}
figure.back{
	float: left;
	margin: 0cm 1cm 1cm 2cm;
}
figure.content{
	margin: 20px 20px 20px 20px;
}
.container {
  position: relative;
  display: inline-block;
  width: 220px;
}

.image {
  display: block;
  border-radius: 5%;
  width: 220px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffe0b3;
  opacity: 0.7;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
  border-radius: 5%;
}

.container:hover .overlay {
  width: 220px;
  left: 0;
}
.text{
	color: black;
	font-family: Maiandra GD Regular;
	font-size: 15px;
	overflow: hidden;
	top: 50%;
	right: 50%;
}