.container {
  position: relative;
  width: 355px;
}

.image {
  display: block;
  width: 355px;
  border-radius: 5%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
 /* right: 0;*/
  background-color: #0099cc;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 5%;
}

.container:hover .overlay {
  width: 355px;
  left: 0;
  border-radius: 5%;
}
