figure.educ{
	margin: 0.5cm 0cm 1cm 0.3cm ;
}
figure.educ1{
	margin: 1.8cm 0cm 1cm 0.7cm;
}
figure.educ2{
	margin: 2.0cm 0cm 1cm 0.7cm;
}
p.mod{
	color: white;
	font-family: Maiandra GD;
	font-size: 30px;
}
figure:hover.educ{
	transform: scale(1.1);
	transition: .2s ease;
}
figure:hover.educ1{
	transform: scale(1.1);
	transition: .2s ease;
}
figure:hover.educ2{
	transform: scale(1.1);
	transition: .2s ease;
}
p.description{
	float: right;
	color: white;
	font-family: Maiandra GD;
	font-size: 17px;
}