p.contact_title{
	margin: 2cm 5.6cm 2cm;
	text-shadow: 2px 2px 10px #003333;
	color: white;
	font-family: Maiandra GD;
	font-size: 88px;
}
figure.mobile{
	margin: 1.8cm 0cm 1cm 1.5cm;
}
figure.mail{
	margin: 3cm 0cm 1cm 1.5cm;
}
p.description_2{
	float: center;
	color: white;
	font-family: Maiandra GD;
	font-size: 25px;
	padding-left: 10px;
}
figure:hover.mobile{
	transform: scale(1.1);
	transition: .2s ease;
}
figure:hover.mail{
	transform: scale(1.1);
	transition: .2s ease;
}